asgiref==3.12.1
bleach==6.4.0
boto3==1.43.100
botocore==1.43.100
Django==5.1.15
django-storages==1.14.6
django-summernote==0.8.20.0
gunicorn==23.0.0
jmespath==1.1.0
packaging==26.3
psycopg==3.3.5
psycopg-binary==3.3.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
s3transfer==0.19.2
six==1.17.0
sqlparse==0.6.0
typing_extensions==4.16.0
urllib3==2.8.0
webencodings==0.6.1
whitenoise==6.12.0
